{% extends "base.html" %}

{% block titulo %} Lista de Empleados {% endblock %}


{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href="{% url 'crear' %}" role="button">Agregar Nuevo Empleado</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Empleados</h4>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Codigo Empleado</th>
                        <th scope="col">Primer Nombre</th>
                        <th scope="col">Segundo Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Status</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">1</td>
                        <td scope="row">Luis</td>
                        <td scope="row">Enrique</td>
                        <td scope="row">Merida</td>
                        <td scope="row">Diaz</td>
                        <td scope="row">Alta</td>
                        <td scope="row">
                            <a name="" id="" class="btn btn-warning" href="{% url 'editar' %}" role="button">Editar</a> 
                            | 
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">
     
    </div>
</div>

{% endblock %}